
.amazonContainer {
    max-width: 1200px;
    width: 90%;
    margin: 30px auto;
    padding: 20px;
}

.amazonProduct {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 40px;
    margin: 30px 0;
    text-decoration: none;
    color: black;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.amazonProduct img {
    width: 100%; /* Asegura que la imagen ocupe el espacio correcto */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 580px; /* Máximo ancho de la imagen */
    max-height: 400px;
    margin: 20px;
}

.amazonProductDescription {
    padding: 20px;
}

/* Tipografía */
.amazonProductTitle {
    font-size: 24px; /* Tamaño más adecuado para lectura */
    margin-bottom: 10px; /* Ajuste de margen */
    border-bottom: 1px solid #ccc; /* Borde más sutil */
}

.amazonProductSubtitle {
    font-size: 18px; /* Tamaño óptimo para subtítulos */
    margin-bottom: 15px; /* Espacio antes de la lista */
    font-weight: bold;
}

ul {
    padding-left: 20px; /* Espaciado para la lista */
}

.amazonPrice {
    font-size: 20px; /* Destaca el precio */
    margin-top: 20px; /* Espacio antes del precio */
}

button {
    background-color: #007bff; /* Color de botón vibrante */
    color: #ffffff; /* Texto blanco para contraste */
    border: none; /* Sin bordes */
    padding: 10px 20px; /* Padding generoso */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Indica acción */
    font-size: 18px; /* Tamaño de texto adecuado */
}

button:hover {
    background-color: #0056b3; /* Oscurece el botón al pasar el mouse */
}

/* Responsive */
@media (max-width: 900px) {
    .amazonContainer{
        padding: 150px 0px 50px 0px;
    }

    .amazonProduct {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .amazonProductTitle{
        margin-top: 0px;
    }

    .amazonProduct img {
        width: 90%;
        margin: 10px auto;
    }
}

@media (max-width: 500px) {
    .amazonContainer{
        padding: 110px 0px 50px 0px;
    }
}