html{
    background: #EDEEF0;
    background-size: 100% 100%;
    background-attachment: fixed;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-family: "Kanit", sans-serif;
}

h1, h2{
    margin: 0px;
}

.titles {
    text-align: center;
    font-weight: bold;
}

.container {
    background: #fff;
    width: 70%;
    margin: 40px auto;
    padding: 20px 0px 40px 0px;
    box-shadow: 0 0 10px rgba(161, 161, 161, 0.822);
    border-radius: 10px;
}

.containerGroup{
    width: 70%;
    margin: 20px auto;
}

table {
    color: #333;
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(161, 161, 161, 0.568);
}

table thead th {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: left;
    font-size: 18px;
    border: 1px solid #ddd;
}

table tbody td {
    padding: 6px 0px 6px 10px;
    border: 1px solid #ddd;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #ddd;
}

.container-index{
    padding: 40px;
    text-align: center;
}

.form{
    margin-top: 20px;
    display: grid;
    gap: 10px;
}

.form button{
    width: 100px;
    margin: 0 auto;
}

.container_select{
    display: grid;
    grid-template-columns: 1fr 0.25fr 1fr;
    align-items: center;
}

.selector{
    height: 25px;
    width: 200px;
}

.local,
.visitante{
    display: flex;
    gap: 10px;
}

.goals{
    width: 92px;
}

.local{
    justify-content: flex-end;
}

.visitante{
    justify-content: flex-start;
}

.title-admin{
    margin-top: 20px;
}

@media screen and (max-width: 1350px) {
    .container {
        width: 80%;
    }

    .containerGroup {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    table {
        font-size: 12px;
        width: 100%;
    }

    table thead th {
        font-size: 12px;
        width: 5px !important;
    }

    table tbody td {
        padding: 5px;
    }

    .container,
    .containerGroup{
        width: 95%;
    }

    .container {
        margin: 20px auto;
        padding: 10px 0px 5px 0px;
    }
}
