html {
    background: #edeef0;
    background-size: 100% 100%;
    background-attachment: fixed;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-family: "Kanit", sans-serif;
    background-color: #fff;
    height: 100vh;
}

h1,
h2,
body {
    margin: 0px;
}

.header {
    padding: 20px 20px 0px 20px;
    background-color: #0b95dd;
}

.title {
    text-align: center;
    font-weight: bold;
    color: #333;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.nav-menu li{
    list-style: none;
}

.nav-menu {
    padding: 0;
}

.menuIcon{
    display: none;
    cursor: pointer;
    padding-bottom: 10px;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.navbar {
    margin: 20px auto 0px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-item a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.active a {
    border-bottom: 3px solid #fff;
}

.nav-item .admin {
    color: #ffb043;
}

.nav-item {
    position: relative;
    color: #fff;
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 25px;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.2s ease;
}

.nav-item:hover:not(.active)::after {
    width: 100%;
}

.subtitle {
    text-align: center;
    margin-bottom: 10px;
}

.container {
    background: #fff;
    width: 70%;
    margin: 30px auto;
    border-radius: 10px;
}

.containerGroup {
    width: 70%;
    margin: 20px auto;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #0b95dd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

table {
    color: #333;
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(161, 161, 161, 0.568);
}

table thead th {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: left;
    font-size: 18px;
    border: 1px solid #ddd;
}

table tbody td {
    padding: 6px 0px 6px 10px;
    border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #ddd;
}

.lastColumnHeader {
    background-color: #eb9114;
}

.lastColumnRows {
    font-weight: bold;
    color: #fff;
    background-color: #818181;
}

.qualifiedToChampions {
    border-left: 4px solid #0b95dd;
}

.qualifiedToUEFA{
    border-left: 4px solid #eb9114;
}

.legend{
    margin-top: 18px;
    display: flex;
    gap: 10px;
}

.legendText{
    margin: 0 10px;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-right: 5px;
}

.greenTriangle {
    border-bottom: 5px solid green;
}

.redTriangle {
    border-top: 5px solid red;
}

.leftText {
    display: inline-block;
    width: 50%;
    text-align: left;
    font-weight: bold;
}

.rightText {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.img-uefa {
    width: 100%;
    height: auto;
}

.cookie-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.cookie-container p {
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.5;
}

.button {
    display: block;
    margin: 10px auto 0;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.cookie-container button:hover {
    background-color: #0062cc;
}

.hidden{
    display: none;
}

@media screen and (max-width: 1350px) {
    .container {
        width: 90%;
    }

    .containerGroup {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    table {
        font-size: 14px;
        width: 100%;
    }

    table thead th {
        font-size: 14px;
        width: 5px !important;
    }

    table tbody td {
        padding: 5px;
    }

    .container{
        width: 95%;
    }

    .container {
        margin: 0 auto;
        padding: 10px 0px 5px 0px;
    }

    .menuIcon{
        display: block;
    }

    .menuIcon.activated .bar:nth-child(2){
        opacity: 0;
    }
    .menuIcon.activated .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menuIcon.activated .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 107px;
        gap: 0;
        flex-direction: column;
        background-color: #818181;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.activated{
        left: 0;
    }
}
